.menuItem {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuTitle:hover {
  background-color: #444;
}

.menuLink {
  display: flex;
  gap: 7px;
  align-items: center;
  text-decoration: none;
  color: white;
}

.menuLink:hover {
  background-color: #444;
}

.subMenu {
  padding-left: 20px;

}

.active{
        color: var(--theme-default);
}
